{% extends "admin_views/base.twig" %}
{% block aditional_css %}

{% endblock %}
{% block title %}Base de datos de precios historicos{% endblock %}
{% block header_title %}Base de datos de precios historicos{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" >
	<a href="{{path_for('vehicle.index')}}">Vehículos</a>
</li>
{% endblock %}
{% block content %}
<div class="row">
	{% include 'admin_views/admin_partials/flash.twig' %}
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card card-success">
			<div class="card-header">
				<h3 class="card-title text-bold">Listado general:</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-condensed precios_tabla" width="100%">
						<thead>
							<th>Marca</th>
							<th>Modelo</th>
							<th>Motor</th>
							<th>Precio:</th>
							<th>Entrega mímina:</th>
							<th>Crédito:</th>
							<th></th>
						</thead>
						<tbody>
							{% for nuevo in nuevos %}
								<tr>
									<td> {{ nuevo.getMarca.nombre }}  </td>
									<td> {{ nuevo.modelo }} {{ nuevo.carroceria }} {{ nuevo.catalogo }}</td>
									<td> {{ nuevo.motor }} </td>
									<td>$ {{ nuevo.precio_sugerido }}</td>
									<td>
									{% if nuevo.marca == 6 %}
										$ {{ (nuevo.precio_sugerido + nuevo.flete_patentamiento + nuevo.precio_sugerido * (fijos.sellado/100)) - ((nuevo.precio_sugerido * 0.7) - ((nuevo.precio_sugerido * 0.7) * (fijos.prenda / 100)) -  fijos.otorgamiento)|round}}
									{% else %}
									 	A calcular {# {{ (nuevo.precio_sugerido + nuevo.flete_patentamiento + nuevo.precio_sugerido * (fijos.sellado/100)) - ((nuevo.precio_sugerido * 0.7) - ((nuevo.precio_sugerido * 0.7) * (fijos.prenda / 100)) -  fijos.otorgamiento) }} #}
									{% endif %}
									</td>
									<td>
										{% if nuevo.marca == 6 %}
											$ {{ nuevo.precio_sugerido * 0.7 | round }}
										{% else %}
										 	A calcular {# {{ nuevo.precio_sugerido * 0.7 | round  }} #}
										{% endif %}
									</td>
									<td>
										<a href="{{ path_for('precios.0km.editar',  {'id': nuevo.id } )}}" class="btn btn-sm btn-flat btn-info pull-right"><i class="fa fa-fw fa-pencil"></i></a>
										<a href="{{ path_for('precios.0km.ver',  {'id': nuevo.id } )}}" class="btn btn-sm btn-flat btn-success pull-right"><i class="fa fa-fw fa-dollar"></i> Financiación</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}

<script type="text/javascript">
$(document).ready(function() {
    $('.precios_tabla').DataTable()
});
</script>
{% endblock %}
