{% extends "admin_views/base.twig" %}
{% block aditional_css %}
  <style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  .amcharts-chart-div a {display:none !important;}
  </style>
{% endblock %}
{% block title %}Escritorio{% endblock %}
{% block header_title %}Escritorio{% endblock %}
{% block content %}
<div class="row">
    {% include 'admin_views/admin_partials/flash.twig' %}
    {% if prospectos|length + prospectos_tarde|length >= 5 %}
    <div class="col-xs-12">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><i class="fa fa-exclamation-triangle"></i> Alcanzaste el límite de prospectos en cola de espera</h3>
          <small>Tienes {{prospectos|length}} prospectos sin atender. Si no reduces este número en <b>20 minutos</b> serás sancionado.</small>
        </div>
        <p class="small-box-footer "><strong>Advertencia de CiroAdmin</strong></p>
      </div>
    </div>
    {% endif %}
    <div class="col-7 col-xs-12">
      <div class="small-box bg-success">
        <div class="inner">
          {% if prospectos|length > 0 or prospectos_tarde|length > 0 %}
            <h3><i class="fa fa-exclamation-circle"></i> Atiende tus prospectos</h3>
            <small>
              <b>{{auth.individuo.nombre}}</b>,
              {% if prospectos|length > 0 %}
                tienes {% if prospectos|length > 1 %}{{prospectos|length}}{% else %}un{% endif %} nuevo{% if prospectos|length > 1 %}s{% endif %} prospecto{% if prospectos|length > 1 %}s{% endif %} sin atender.
              {% endif %}
              {% if prospectos_tarde|length > 0 %}
                {% if prospectos is iterable and prospectos|length > 0 %}
                  <br>Además,
                {% endif %}
                tienes {% if prospectos_tarde|length > 1 %}{{prospectos_tarde|length}}{% else %}un{% endif %} prospecto{% if prospectos_tarde|length > 1 %}s{% endif %} marcado{% if prospectos_tarde|length > 1 %}s{% endif %} para llamar más tarde.
              {% endif %}
            </small>
          {% else %}
            <h3><i class="fa fa-check-circle"></i> ¡Perfecto! Estás al día</h3>
            <small>{{auth.individuo.nombre}}, estás al día con tus prospectos.<br><b>¡Muy bien!</b></small>
          {% endif %}
        </div>
        <p class="small-box-footer "><strong>Notificación de CiroAdmin</strong></p>
      </div>
    </div>
    <div class="col-5 col-xs-12">
      <div class="small-box bg-info">
        <div class="inner">
          <h3><i class="fa fa-question-circle"></i> ¿Sabías esto?</h3>
          <small>Si tienes 5 o más prospectos sin llamar durante un periodo de tiempo, se te elevará un informe.</small>
        </div>
        <p class="small-box-footer "><strong>#CiroAdminTips</strong></p>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Ranking de prospectos [SALTA]</h3>
      </div>
      <!-- /.box-header -->
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table table-striped tablasalta" width="100%">
            <thead>
              <th>Vendedor</th>
              <th>Concretados</th>
              <th>Perdidos</th>
            </thead>
            <tbody>
            {% set ranking_top_ventas = 0 %}
            {% for vendedor in vendedores %}
              {% if vendedor.id_agencia == 1 %}
              <tr>
                <td>{{ vendedor.individuo.apellido | upper }}, {{ vendedor.individuo.nombre }}</td>
                <td><span class="badge bg-green">{{ vendedor.concretadas() | json_encode }}</span></td>
                <td><span class="badge bg-blue">{{ vendedor.perdidas() | json_encode }}</span></td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Ranking de prospectos [ORAN]</h3>
      </div>
      <!-- /.box-header -->
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table table-striped tablaoran" width="100%" >
            <thead>
              <th>Vendedor</th>
              <th>Concretados</th>
              <th>Perdidos</th>
            </thead>
            <tbody>
            {% set ranking_top_ventas = 0 %}
            {% for vendedor in vendedores %}
              {% if vendedor.id_agencia == 2 %}
              <tr>
                <td>{{ vendedor.individuo.apellido | upper }}, {{ vendedor.individuo.nombre }}</td>
                <td><span class="badge bg-green">{{ vendedor.concretadas() | json_encode }}</span></td>
                <td><span class="badge bg-blue">{{ vendedor.perdidas() | json_encode }}</span></td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Ranking de ventas [SALTA]</h3>
      </div>
      <!-- /.box-header -->
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table table-striped" width="100%" >
            <thead>
              <th>#</th>
              <th>Vendedor</th>
              <th>Usados</th>
              <th>0km</th>
              <th>TOTAL</th>
            </thead>
            <tbody>
            {% set ranking_top_ventas = 0 %}
            {% for vendedor in vendedores %}
              {% if vendedor.id_agencia == 1 %}
              {% set ranking_top_ventas = ranking_top_ventas + 1 %}
              <tr>
                <td>{{ ranking_top_ventas }}</td>
                <td>{{ vendedor.individuo.apellido | upper }}, {{ vendedor.individuo.nombre }}</td>
                <td>{{ vendedor.ventas_usados }}</td>
                <td>{{ vendedor.ventas_0km }}</td>
                <td><span class="badge bg-blue">{{ vendedor.ventas_usados+vendedor.ventas_0km }}</span></td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Ranking de ventas [ORAN]</h3>
      </div>
      <!-- /.box-header -->
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table table-striped" width="100%">
            <thead>
              <th>#</th>
              <th>Vendedor</th>
              <th>Usados</th>
              <th>0km</th>
              <th>TOTAL</th>
            </thead>
            <tbody>
            {% set ranking_top_ventas = 0 %}
            {% for vendedor in vendedores %}
              {% if vendedor.id_agencia == 2 %}
              {% set ranking_top_ventas = ranking_top_ventas + 1 %}
              <tr>
                <td>{{ ranking_top_ventas }}</td>
                <td>{{ vendedor.individuo.apellido | upper }}, {{ vendedor.individuo.nombre }}</td>
                <td>{{ vendedor.ventas_usados }}</td>
                <td>{{ vendedor.ventas_0km }}</td>
                <td><span class="badge bg-blue">{{ vendedor.ventas_usados+vendedor.ventas_0km }}</span></td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
</script>
{% endblock %}
