<ul class="navbar-nav userbar float-lg-right p-0 p-lg-0">
	{% if auth.check %}
	<li class="nav-item dropdown" id="">
		<a class="nav-link dropdown-toggle" href="#" id="dropdowncuenta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Mi cuenta">
			{{ auth.individuo.nombre }} {{auth.individuo.apellido}}
		</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdowncuenta">
			{% if auth.empleado.acceso_sistema > 1 %}
				<a class="dropdown-item" href="administracion">Administración</a>
			{% endif %}
			<a class="dropdown-item" href="{{ path_for('auth.signout') }}">Cerrar sesión</a>
		</div>
	</li>
	{% else %}
		{% if 'vehiculos/filtrar/' in  current_path_wb %}
			{% set return_to = current_path_wb|replace({'vehiculos/filtrar/':''})|trim('/', 'right') %}
			<li class="nav-item" >
				<a class="nav-link" onClick="ga('send', 'event', 'pagina_inicio', 'navbar', 'iniciar_sesion');" href="{{ path_for('auth.signin',{'return_to':return_to}) }}" title="Inicia sesión en tu cuenta de Ciro Automotores">
					Iniciar sesión
				</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" onClick="ga('send', 'event', 'pagina_inicio', 'navbar', 'iniciar_sesion');" href="{{ path_for('auth.signin') }}{% if(current_path_wb != '') %}/{{current_path_wb}}{% endif %}" title="Inicia sesión en tu cuenta de Ciro Automotores">
					Iniciar sesión
				</a>
			</li>
		{% endif %}
		{% if 'vehiculos/filtrar/' in  current_path_wb %}
			{% set return_to = current_path_wb|replace({'vehiculos/filtrar/':''})|trim('/', 'right') %}
			<li class="nav-item">
				<a class="nav-link"onClick="ga('send', 'event', 'pagina_inicio', 'navbar', 'registrarme');" href="{{ path_for('auth.signup',{'return_to':return_to}) }}" title="Crea una cuenta y formá parte de Ciro Automotores">
					Registrarme
				</a>
			</li>
		{% else %}
		<li class="nav-item">	
			<a class="nav-link" onClick="ga('send', 'event', 'pagina_inicio', 'navbar', 'registrarme');" href="{{ path_for('auth.signup') }}{% if(current_path_wb != '') %}/{{current_path_wb}}{% endif %}" title="Crea una cuenta y formá parte de Ciro Automotores">
				Registrarme
			</a>
		</li>
		{% endif %}
	{% endif %}
</ul>